/MEMO.md
/build-head.log
/build-head/
/build/init_test.sh
/build/*/logs/
/build/ghc*/resources/test.hi
/build/ghc*/resources/test.o
/build/fpc-head/resources/test.o
/wandbox/
*.swp
/ga-build/*.log
/ga-build/*.env
