# wandbox-builder の特殊な仕様:
# - ファイル名は必ず build*.yml にする
# - name は必須
# - ジョブ名は ga-build/ のディレクトリ名と合わせる
# - ビルドと関係ないジョブを作る場合はジョブ名の先頭に _ を付ける

name: build
on:
  push:

env:
  ASSETS_URL: "https://api.github.com/repos/melpon/wandbox-builder/releases/178117233/assets"
  UPLOAD_URL: "https://uploads.github.com/repos/melpon/wandbox-builder/releases/178117233/assets{?name,label}"
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

jobs:
  _asset:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: '3.x'
      - run: |
          pip3 install requests
          python3 get_asset_info.py ${{ env.ASSETS_URL }} --github_token ${{ env.GITHUB_TOKEN }} > asset_info.json
      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: asset_info.json
          path: asset_info.json
  clisp:
    needs: [_asset]
    strategy:
      fail-fast: false
      matrix:
        version:
          - "2.49"
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/build-compiler
        with:
          name: ${{ github.job }}
          version: ${{ matrix.version }}
          upload_url: ${{ env.UPLOAD_URL }}
  cpython:
    needs: [_asset]
    strategy:
      fail-fast: false
      matrix:
        version:
          - 3.12.7
          - 3.11.10
          - 3.10.15
          - 3.9.20
          - 3.8.20
          - 3.7.17
          - 2.7.18
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/build-compiler
        with:
          name: ${{ github.job }}
          version: ${{ matrix.version }}
          upload_url: ${{ env.UPLOAD_URL }}
  crystal:
    needs: [_asset]
    strategy:
      fail-fast: false
      matrix:
        version:
          - 1.13.3
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/build-compiler
        with:
          name: ${{ github.job }}
          version: ${{ matrix.version }}
          upload_url: ${{ env.UPLOAD_URL }}
  dmd:
    needs: [_asset]
    strategy:
      fail-fast: false
      matrix:
        version:
          - 2.109.1
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/build-compiler
        with:
          name: ${{ github.job }}
          version: ${{ matrix.version }}
          upload_url: ${{ env.UPLOAD_URL }}
  dotnetcore:
    needs: [_asset]
    strategy:
      fail-fast: false
      matrix:
        version:
          - 8.0.402
          - 6.0.425
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/build-compiler
        with:
          name: ${{ github.job }}
          version: ${{ matrix.version }}
          upload_url: ${{ env.UPLOAD_URL }}
  elixir:
    needs: [_asset, erlang]
    strategy:
      fail-fast: false
      matrix:
        version:
          # 対応する Erlang のバージョンは
          # https://hexdocs.pm/elixir/compatibility-and-deprecations.html#compatibility-between-elixir-and-erlang-otp
          # から探す。
          - 1.17.3 erlang 27.1
          - 1.16.3 erlang 26.2.5.3
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/build-compiler
        with:
          name: ${{ github.job }}
          version: ${{ matrix.version }}
          upload_url: ${{ env.UPLOAD_URL }}
  erlang:
    needs: [_asset]
    strategy:
      fail-fast: false
      matrix:
        version:
          - "27.1"
          - 26.2.5.3
          - 25.3.2.13
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/build-compiler
        with:
          name: ${{ github.job }}
          version: ${{ matrix.version }}
          upload_url: ${{ env.UPLOAD_URL }}
  fpc:
    needs: [_asset]
    strategy:
      fail-fast: false
      matrix:
        version:
          - 3.2.2
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/build-compiler
        with:
          name: ${{ github.job }}
          version: ${{ matrix.version }}
          upload_url: ${{ env.UPLOAD_URL }}
  ghc:
    needs: [_asset]
    strategy:
      fail-fast: false
      matrix:
        version:
          - 9.10.1
          - 9.0.1
          - 8.10.4
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/build-compiler
        with:
          name: ${{ github.job }}
          version: ${{ matrix.version }}
          upload_url: ${{ env.UPLOAD_URL }}
  go:
    needs: [_asset]
    strategy:
      fail-fast: false
      matrix:
        version:
          - 1.23.2
          - 1.22.8
          - 1.16.3
          - 1.15.11
          - 1.14.15
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/build-compiler
        with:
          name: ${{ github.job }}
          version: ${{ matrix.version }}
          upload_url: ${{ env.UPLOAD_URL }}
  julia:
    needs: [_asset]
    strategy:
      fail-fast: false
      matrix:
        version:
          - 1.10.5
          - 1.6.1
          - 1.0.5
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/build-compiler
        with:
          name: ${{ github.job }}
          version: ${{ matrix.version }}
          upload_url: ${{ env.UPLOAD_URL }}
  lazyk:
    needs: [_asset]
    strategy:
      fail-fast: false
      matrix:
        version:
          - nover
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/build-compiler
        with:
          name: ${{ github.job }}
          version: ${{ matrix.version }}
          upload_url: ${{ env.UPLOAD_URL }}
  ldc:
    needs: [_asset]
    strategy:
      fail-fast: false
      matrix:
        version:
          - 1.39.0
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/build-compiler
        with:
          name: ${{ github.job }}
          version: ${{ matrix.version }}
          upload_url: ${{ env.UPLOAD_URL }}
  lua:
    needs: [_asset]
    strategy:
      fail-fast: false
      matrix:
        version:
          - 5.4.7
          - 5.3.6
          - 5.2.4
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/build-compiler
        with:
          name: ${{ github.job }}
          version: ${{ matrix.version }}
          upload_url: ${{ env.UPLOAD_URL }}
  luajit:
    needs: [_asset]
    strategy:
      fail-fast: false
      matrix:
        version:
          - 2.0.5
          - 2.0.4
          - 2.0.3
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/build-compiler
        with:
          name: ${{ github.job }}
          version: ${{ matrix.version }}
          upload_url: ${{ env.UPLOAD_URL }}
  mono:
    needs: [_asset]
    strategy:
      fail-fast: false
      matrix:
        version:
          # https://download.mono-project.com/sources/mono/index.html
          - 6.12.0.199
          - 5.20.1.34
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/build-compiler
        with:
          name: ${{ github.job }}
          version: ${{ matrix.version }}
          upload_url: ${{ env.UPLOAD_URL }}
  mruby:
    needs: [_asset]
    strategy:
      fail-fast: false
      matrix:
        version:
          - 3.0.0
          - 2.1.2
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/build-compiler
        with:
          name: ${{ github.job }}
          version: ${{ matrix.version }}
          upload_url: ${{ env.UPLOAD_URL }}
  nim:
    needs: [_asset]
    strategy:
      fail-fast: false
      matrix:
        version:
          - 2.2.2
          - 2.2.0
          - 2.0.14
          - 2.0.10
          - 2.0.8
          - 2.0.6
          - 2.0.4
          - 2.0.2
          - 2.0.0
          - 1.6.20
          - 1.6.18
          - 1.6.14
          - 1.6.12
          - 1.6.10
          - 1.6.8
          - 1.6.6
          - 1.6.4
          - 1.6.0
          - 1.4.8
          - 1.4.6
          - 1.2.8
          - 1.0.10
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/build-compiler
        with:
          name: ${{ github.job }}
          version: ${{ matrix.version }}
          upload_url: ${{ env.UPLOAD_URL }}
  ocaml:
    needs: [_asset]
    strategy:
      fail-fast: false
      matrix:
        version:
          - 5.2.0
          - 4.14.2
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/build-compiler
        with:
          name: ${{ github.job }}
          version: ${{ matrix.version }}
          upload_url: ${{ env.UPLOAD_URL }}
  openssl:
    needs: [_asset]
    strategy:
      fail-fast: false
      matrix:
        version:
          - 3.3.2
          - 1.1.1w
          - 1.0.2u
          - 0.9.8zh
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/build-compiler
        with:
          name: ${{ github.job }}
          version: ${{ matrix.version }}
          upload_url: ${{ env.UPLOAD_URL }}
  perl:
    needs: [_asset]
    strategy:
      fail-fast: false
      matrix:
        version:
          - 5.40.0
          - 5.38.0
          - 5.36.0
          - 5.34.0
          - 5.33.8
          - 5.32.1
          - 5.30.3
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/build-compiler
        with:
          name: ${{ github.job }}
          version: ${{ matrix.version }}
          upload_url: ${{ env.UPLOAD_URL }}
  php:
    needs: [_asset]
    strategy:
      fail-fast: false
      matrix:
        version:
          - 8.3.12
          - 8.2.24
          - 8.1.30
          - 8.0.30
          - 7.4.33
          - 5.6.40
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/build-compiler
        with:
          name: ${{ github.job }}
          version: ${{ matrix.version }}
          upload_url: ${{ env.UPLOAD_URL }}
  pony:
    needs: [_asset]
    strategy:
      fail-fast: false
      matrix:
        version:
          - 0.58.5
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/build-compiler
        with:
          name: ${{ github.job }}
          version: ${{ matrix.version }}
          upload_url: ${{ env.UPLOAD_URL }}
  pypy:
    needs: [_asset]
    strategy:
      fail-fast: false
      matrix:
        version:
          - 3.10-v7.3.17
          - 3.9-v7.3.16
          - 3.8-v7.3.11
          - 3.7-v7.3.9
          - 2.7-v7.3.17
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/build-compiler
        with:
          name: ${{ github.job }}
          version: ${{ matrix.version }}
          upload_url: ${{ env.UPLOAD_URL }}
  r:
    needs: [_asset]
    strategy:
      fail-fast: false
      matrix:
        version:
          - 4.4.1
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/build-compiler
        with:
          name: ${{ github.job }}
          version: ${{ matrix.version }}
          upload_url: ${{ env.UPLOAD_URL }}
  ruby:
    needs: [_asset]
    strategy:
      fail-fast: false
      matrix:
        version:
          - 3.4.1
          - 3.3.6
          - 3.2.6
          - 3.1.6
          - 3.0.7
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/build-compiler
        with:
          name: ${{ github.job }}
          version: ${{ matrix.version }}
          upload_url: ${{ env.UPLOAD_URL }}
  rust:
    needs: [_asset]
    strategy:
      fail-fast: false
      matrix:
        version:
          - 1.82.0
          - 1.81.0
          - 1.80.1
          - 1.79.0
          - 1.78.0
          - 1.77.2
          - 1.76.0
          - 1.75.0
          - 1.74.1
          - 1.73.0
          - 1.72.1
          - 1.71.1
          - 1.70.0
          - 1.69.0
          - 1.68.2
          - 1.67.1
          - 1.66.1
          - 1.65.0
          - 1.64.0
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/build-compiler
        with:
          name: ${{ github.job }}
          version: ${{ matrix.version }}
          upload_url: ${{ env.UPLOAD_URL }}
  sbcl:
    needs: [_asset]
    strategy:
      fail-fast: false
      matrix:
        version:
          - 2.4.9
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/build-compiler
        with:
          name: ${{ github.job }}
          version: ${{ matrix.version }}
          upload_url: ${{ env.UPLOAD_URL }}
  sqlite:
    needs: [_asset]
    strategy:
      fail-fast: false
      matrix:
        version:
          - 3.46.1
          - 3.35.5
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/build-compiler
        with:
          name: ${{ github.job }}
          version: ${{ matrix.version }}
          upload_url: ${{ env.UPLOAD_URL }}
  swift:
    needs: [_asset]
    strategy:
      fail-fast: false
      matrix:
        version:
          - 6.0.1
          - 5.10.1
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/build-compiler
        with:
          name: ${{ github.job }}
          version: ${{ matrix.version }}
          upload_url: ${{ env.UPLOAD_URL }}
  vim:
    needs: [_asset]
    strategy:
      fail-fast: false
      matrix:
        version:
          - 9.1.0758
          - 8.2.5172
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/build-compiler
        with:
          name: ${{ github.job }}
          version: ${{ matrix.version }}
          upload_url: ${{ env.UPLOAD_URL }}
  zig:
    needs: [_asset]
    strategy:
      fail-fast: false
      matrix:
        version:
          - 0.13.0
          - 0.9.1
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/build-compiler
        with:
          name: ${{ github.job }}
          version: ${{ matrix.version }}
          upload_url: ${{ env.UPLOAD_URL }}
  _deploy:
    needs:
      - clisp
      - cpython
      - crystal
      - dmd
      - dotnetcore
      - elixir
      - erlang
      - fpc
      - ghc
      - go
      - julia
      - lazyk
      - ldc
      - lua
      - luajit
      - mono
      - mruby
      - nim
      - ocaml
      - openssl
      - perl
      - php
      - pony
      - pypy
      - r
      - ruby
      - rust
      - sbcl
      - sqlite
      - swift
      - vim
      - zig
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4
      # SSH 秘密鍵の登録
      - name: Register SSH key
        env:
          SSH_PRIVATE_KEY: ${{ secrets.SSH_PRIVATE_KEY }}
        run: |
          mkdir -p $HOME/.ssh
          echo "$SSH_PRIVATE_KEY" > $HOME/.ssh/id_ed25519
          chmod 600 $HOME/.ssh/id_ed25519
      # デプロイ先を設定する
      - name: Add SSH config
        env:
          SSH_HOST: ${{ secrets.SSH_HOST_UBUNTU_24_04 }}
          SSH_USER: ${{ secrets.SSH_USER }}
        run: |
          echo "Host wandbox-ubuntu-24.04" >> $HOME/.ssh/config
          echo "    HostName $SSH_HOST" >> $HOME/.ssh/config
          echo "    User $SSH_USER" >> $HOME/.ssh/config
          echo "    ServerAliveInterval 60" >> $HOME/.ssh/config
          echo "    TCPKeepAlive yes" >> $HOME/.ssh/config
          ssh-keyscan -H $SSH_HOST >> $HOME/.ssh/known_hosts
      # ソースをデプロイ先にコピーして、デプロイスクリプトを実行する
      - id: deploy
        name: Deploy
        run: |
          set -ex
          COMMIT=`git log --format=%as.%h -n 1 HEAD`
          ssh wandbox-ubuntu-24.04 'mkdir -p /opt/wandbox-data'
          rsync -a -v . wandbox-ubuntu-24.04:/opt/wandbox-data/wandbox-builder
          ssh wandbox-ubuntu-24.04 "python3 /opt/wandbox-data/wandbox-builder/deploy.py $GITHUB_WORKFLOW $COMMIT ${{ env.ASSETS_URL }} --github_token ${{ env.GITHUB_TOKEN }}"
      - name: Generate Configuration
        if: steps.deploy.outputs.deployed == 'true'
        run: |
          ssh wandbox-ubuntu-24.04 'mkdir -p /opt/wandbox-data/release/cattleshed-conf'
          ssh wandbox-ubuntu-24.04 'python3 /opt/wandbox-data/wandbox-builder/cattleshed-conf/compilers.py > /opt/wandbox-data/release/cattleshed-conf/compilers.default'
      - name: Restart Cattleshed
        if: steps.deploy.outputs.deployed == 'true'
        run: |
          ssh wandbox-ubuntu-24.04 'systemctl restart cattleshed-master'
          ssh wandbox-ubuntu-24.04 'systemctl restart cattleshed-develop'
          sleep 30
      - name: Restart Kennel
        if: steps.deploy.outputs.deployed == 'true'
        run: |
          ssh wandbox-ubuntu-24.04 'systemctl restart kennel-master'
          ssh wandbox-ubuntu-24.04 'systemctl restart kennel-develop'
